@charset"utf-8"
/* CSS Document */
body{
        background: #33e7ff;
        color: #111111;
        font-family: Georgia,"Times New Roman",Times,serif;
}
.header,.footer{
    margin: 0 auto;
    width: 1000px;
}
 
#mainContent{
    width: 1000px;
    margin: 0 auto;
}
#left{
    width: 700px;
    float: left;
}
#right{
    width: 300px;
    float: left;
}